<%- include('../partials/header') %>

<h2>Profile Page</h2>
<main>
    <% posts.forEach(function(post) { %>
        <section>
            <div><%= post.text %></div>
            <div><%= post.likes %></div>
            <div><%= post.dislikes %></div>
            <div><a href="/posts/<%= post._id %>">DETAILS</a></div>
            <div>
                <% if (user?._id.equals(post.user)) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                <% } %>  
            </div>
        </section>
    <% }) %>
</main>



<%- include('../partials/footer') %>