<%- include('../partials/index-header') %>

<h1>Home</h1>
<% posts.forEach(function(post) { %>
    <section>
        <div class="icons">
            <button><i class="fa-solid fa-circle-up fa-2x" style="color: #38b6ff;"></i></button>
            <div><%= post.likes %></div>
            <button><i class="fa-solid fa-circle-arrow-down fa-2x" style="color: #38b6ff;"></i></button>
            <div><%= post.dislikes %></div>
            <div>
                <a href="/posts/<%= post._id %>">
                    <i class="fa-regular fa-comment-dots fa-2x" style="color: #38b6ff;"></i>
                </a>
            </div>
        </div>
        <div class="post-div">
            <div class="date"><%= post.createdAt.toLocaleDateString() %></div>
            <div class="text"><%= post.text %></div>
            <div>
                <i class="fa-solid fa-quote-right fa-xl" style="color: #000000;"></i>
            </div>
        </div>
    </section>
    <br><br>
<% }) %>
<% if(user) { %>
<div>
    <a href="/posts/new" class="create-post">
        <i class="fa-regular fa-square-plus fa-3x" style="color: #38b6ff;"></i>
    </a>
</div>
<% } %>

<%- include('../partials/footer') %>
