<%- include('../partials/header') %>

<h2>Show Page</h2>
<section class="show-post">
    <div><%= post.text %></div>
    <div><%= post.likes %></div>
    <div><%= post.dislikes %></div>
</section>

<%- include('../partials/footer') %>